@import "tailwindcss";

@config "../tailwind.config.js";


@media (max-width: 1400px) {
  .hide-below-1400 {
    display: none;
  }
}

html, body {
  height: 100%;
  overscroll-behavior: none;
  scroll-behavior: auto; /* disable browser smooth scroll */
}

[data-lenis] {
  will-change: transform;
}


.clip-top-left-notch {
  clip-path: polygon(0 0, 80% 0, 100% 100%, 100% 100%, 0 100%);
}

.clip-top-right-notch {
  clip-path: polygon(0 100%, 20% 0, 100% 0, 100% 100%, 0 100%);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

